body {
    margin: 0;
    padding: 0;
    background-color: rgb(199, 182, 182);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.calculator {
    height: 85vh;
    width: 90vw;
    max-width: 500px;
    background-color: rgb(18, 31, 31);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
}

#display {
    width: 85%;
    height: 20%;
    border-radius: 1rem;
    padding: 7px;
    margin-top: 2rem;
    background-color: rgb(243, 225, 225);
    font-size: 3rem;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,7fr);
    margin-top: 1.7rem;
    gap: 10px;
}
button{
    padding: 1.6rem 2.6rem;
    font-size: 15px;
    border: none;
    background-color: rgba(92, 116, 116, 0.852);
    border-radius: 9px;
    cursor: pointer;
    transition: background-color0.2s ease;
}
button:hover{
    background-color:chocolate;
}